<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    USERS PAGE

    {{#each users}}
        <ul>
            <li>Firstname: {{this.firstName}}</li>
            <li>LastName: {{this.lastName}}</li>
            <li>Email: {{this.email}}</li>
            <li>Password: {{this.password}}</li>
            <li>Age: {{this.age}}</li>
            <li>City: {{this.city}}</li>
        </ul>
        {{/each}}


</body>
</html>

